.form {
    display: flex;
    margin-bottom: 3px;
}

label {
    margin-right: 50px;
    width: 200px;
    margin-bottom: 5px;
}

input[type="text"],
[type="email"],
[type="url"] {
    padding: 2px;
    width: 250px;
    height: 20px;
    border: 1px solid #ccc;
    margin-bottom: 8px;
    border-radius:5px;
}

input:invalid {
    border: 2px solid red;
}
